

@import "../../assets/styles/animation";
@import "../../assets/styles/mixin";

.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-bottom: 2px solid rgba(128,128,128, 0.1);

    @include S {
        padding: 20px;
    }

    .top {

        .title {
            width: fit-content;
            margin: 0;
            font-size: 25px;
            color: #5138BC;
            text-transform: uppercase;

            &.dark {
                background-image: linear-gradient(to right, white, #5138BC);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

            @include XS {
                font-size: 20px;
            }
        }

        .textTitle {
            margin: 5px 0 0 0;
            font-size: 22px;

            @include XS {
                font-size: 18px;
            }
        }
    }

    .middle {

        display: flex;
        margin-top: 35px;
        border: 1px solid rgba(128,128,128, 0.1);
        position: relative;

        @include M {
            flex-direction: column;
            align-items: center;
            padding: 20px 50px;
        }

        @include S {
            padding: 20px;
        }

        .left {
            width: 50%;
            padding: 25px 100px;

            @include M {
                width: 100%;
            }

            .image {
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                border: 1px solid rgba(128,128,128, 0.1);
                height: 400px;
                margin: 45px 100px;
                padding: 20px;
                object-fit: contain;
                border-radius: 5px;
                opacity: 0;
                transition: opacity 2s ease-in-out;
                width: fit-content;

                &.dark {
                    box-shadow: 0 0 10px white;
                }

                @include XL {
                    margin: 45px;
                    height: 300px;
                }

                @include L {
                    height: 250px;
                }

                @include M {
                    width: 100%;
                    object-fit: cover;
                    margin: auto;
                }

                @include S {
                    object-fit: contain;
                }

                @include XS {
                    left: 20px;
                    width: 74%;
                    height: 200px;
                }

            }
            .activeImage {
                opacity: 1;
            }
        }

        .imageContainer {
            position: relative;
            width: 50%;
            height: 475px; 

            @include XL {
                height: 390px;
            }

            @include L {
                height: 325px;
            }

            @include XS {
                height: 180px;
            }
        }
        .right {

            width: 50%;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            @include M {
                width: 100%;
                align-items: center;
                text-align: center;
                padding: 0 20px;
            }

            @include XS {
                margin-top: 50px;
            }

            .techContainer {

                display: flex;
                gap: 10px;

                .technos:first-child {
                    color: #4FDAFB ;
                }

                .technos:last-child {
                    color: #CD6799;
                }
            }

            .titleProject {
                margin: 40px 0 0 0;
                color: #5138BC;
                font-size: 20px;
                text-transform: uppercase;
                width: fit-content;

                &.dark {
                    color: black;
                    text-shadow: 0 0 20px white;
                }

                @include XS {
                    font-size: 18px;
                }
            }

            .textProject {
                margin: 25px 0 0 0;
                font-size: 18px;

                @include XS {
                    font-size: 16px;
                }
            }

            .zoomProject {
                background-color: #5138BC;
                color: white;
                width: fit-content;
                padding: 15px 20px;
                border-radius: 10px;
                margin: 35px auto 0 auto;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 12px;
                font-family: 'Dosis', sans-serif;
                box-shadow:  1px 2px 4px black;
                font-weight: 700;
                transition: all 250ms ease-in-out;
                cursor: pointer;
                border: none;

                @include XS {
                    font-size: 10px;
                }

                &.dark {
                    background: linear-gradient(160deg,#5138BC, white);
                    color: black;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .bottom {

        margin-top: 50px;

        @include XS {
            margin-top: 25px;
        }

        .linkContainer {
            display: flex;
            justify-content: center;
            
           
            .link { 
                border: none;
                padding: 15px 20px;
                border-radius: 10px;
                background-color: #5138BC;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 3px;
                font-size: 12px;
                box-shadow:  1px 2px 4px black;
                transition: all 250ms ease-in-out;

                @include XS {
                    font-size: 10px;
                }

                &.dark {
                    background: linear-gradient(160deg,#5138BC, white);
                    color: black;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    .modalContainer {
        position: fixed;
        z-index: 9999;
        background-color: rgba(0 ,0 ,0 , 0.8);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .imageModalContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 60%;

            @include M {
                width: 70%;
            }

            @include XS {
                width: 95%;
            }

            .imageModal {
                width: 100%;
                opacity: 0;
                position: absolute;
                border-radius: 5px;
                box-shadow: 0 0 50px white;
                z-index: 99999;
                animation: carrouselleFront 500ms ease;

                &.closing {
                    animation: carrouselleFrontBack 500ms ease;
                }

                &.activeImageModal {
                    opacity: 1;
                }
            }
        }
    }
}

