
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 50px;

    .top {
        width: 50%;
        padding: 25px;
        background-color: white;
        border: 2px solid rgba(128,128,128, 0.1);
        border-radius: 5px;
        box-shadow: 1px 1px 10px #5138BC;
    }

    .fixed {
        position: fixed;
        max-width: 1350px;
        z-index: 99999;
        top: 54px;
        width: 40%;
        padding: 25px 25px 25px 25px;
        background-color: white;
        box-shadow: 1px 5px 10px #5138BC;
        border-radius: 5px;
        margin-top: 5px;
    }

    .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;

        .linkProject {
            text-decoration: none;
            width: fit-content;
        }
    }
    
}