
@import "../../assets/styles/mixin";

.container {
    margin-top: 54px;
    padding: 50px;
    border-top: 2px solid rgba(128,128,128, 0.1);
    border-bottom: 2px solid rgba(128,128,128, 0.1);
    display: flex;
    flex-direction: column;

    @include S {
        padding: 20px;
    }

    .top {
        width: 100%;
        text-align: center;

        .title {
            margin: 0;
            font-size: 22px;
            text-transform: uppercase;
            color: #5138BC;
            font-weight: 700;
            font-size: 22px;

            @include XS {
                font-size: 18px;
            }
        }
    }

    .bottom {

        display: flex;
        margin-top: 50px;
        justify-content: center;
        gap: 50px;

        @include S {
            margin-top: 20px;
        }

        .left {
            width: 50%;

            .image {
                width: 100%;
                height: 100%;
                border: 1px solid rgba(128,128,128, 0.1);
            }
        }

        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgba(128,128,128, 0.1);

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70%;

                @include S {
                    width: 90%;
                }

                .label {
                    color: #5138BC;
                    font-weight: 600;
                    margin-top: 20px;
                    width: 100%;
                }

                .input {
                    border: 1px solid rgba(128,128,128, 0.3);
                    margin-top: 5px;
                    height: 40px;
                    text-indent: 5px;
                    font-family: 'Dosis', sans-serif;
                    font-size: 16px;
                    width: 100%;
                    
                    &:focus {
                        outline: 1px solid rgba(128,128,128, 0.6);
                    }
                }

                .inputOk {
                    border-color: green;
                }

                .message {
                    height: 150px;
                }

                .button {
                    margin-top: 35px;
                    padding: 15px;
                    width: 40%;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: 'Dosis', sans-serif;
                    font-weight: 600;
                    background-color: #5138BC;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    background-color: rgba(128,128,128, 0.6);
                }

                .isValid {
                    background-color: #5138BC;
                }
            }

            .altContainer {

                @include S {
                    width: 90%;
                    padding-bottom: 15px;
                }

                .altText {
                    text-align: center;
                    font-size: 22px;
                    color: #5138BC;
                    font-weight: 700;
                    margin: 0;
                    margin-top: 25px;

                    @include XS {
                        margin-top: 15px;
                    }
                }

                .mailContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 25px;
                    font-size: 18px;
                    margin-top: 35px;
                    padding: 15px 30px;
                    border: 2px solid rgba(128,128,128, 0.1);
                    cursor: pointer;
                    transition: all 250ms ease-in-out;
                    margin-bottom: 15px;

                    @include XS {
                        margin-top: 15px;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: rgba(128,128,128, 0.1);
                    }

                    &.active {
                        background-color: green;
                        color: white;
                    }

                    .mail {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}