
@import "../../assets/styles/animation";
@import "../../assets//styles/mixin";
 
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

        .textFilter {
            font-size: 18px;
            margin: 0;
            font-weight: 800;
            text-transform: uppercase;
            padding-bottom: 3px;
            border-bottom: 2px solid #5138BC;
        } 

    .barContainer {
        display: flex;
        gap: 50px;
        box-sizing: border-box;

        .filterContainer {

            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            cursor: pointer;
            box-sizing: border-box;
            transition: all 250ms ease-in-out;
            height: auto;
            padding: 10px;

            &:hover {
                color: #5138BC;
            }

            .filter {
                margin: 0;
                font-size: 18px;
                box-sizing: border-box;
            }
        }
        
        .activeFilter {
            transform: scale(1.10);
            margin: 0;
            color: #5138BC;

            & .filter {
                color: #5138BC;
            }

            & .filterLogo {
                color: #5138BC;
            }
        }
    }
} 