
@import "../../assets/styles/animation";
@import "../../assets//styles/mixin";
 
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

        .textFilter {
            font-size: 18px;
            margin: 0;
            font-weight: 800;
            text-transform: uppercase;
            padding-bottom: 3px;
            border-bottom: 2px solid #5138BC;

            @include M {
                font-size: 16px;
            }
        } 

    .barContainer {
        display: flex;
        gap: 50px;
        box-sizing: border-box;

        @include M {
            gap: 15px;
        }

        @include S {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            justify-items: start;
        }

        .filterContainer {

            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            cursor: pointer;
            box-sizing: border-box;
            transition: all 250ms ease-in-out;
            height: auto;

            @include M {
                gap: 5px;
            }

            @include S {
                padding: 5px;
            }

            &:hover {
                color: #5138BC;
                animation: WorkHoverBis 500ms ease forwards;
                
                &.dark {
                    color: bisque;
                    //text-shadow: 0 0 10px white;
                }
            }

            .filter {
                margin: 0;
                font-size: 18px;
                box-sizing: border-box;

                @include S {
                    font-size: 16px;
                }
            }
        }

        .activeFilter {
            transform: scale(1.15);
            margin: 0;

            &.dark {
                text-shadow: 0 0 20px white;
            }

            .filter {
                color: #5138BC;

                &.dark {
                    color: bisque;
                    text-shadow: 0 0 10px black;
                }
            }

            .filterLogo {
                color: #5138BC;

                &.dark {
                    color: bisque;
                    text-shadow: 0 0 10px black;
                }
            }
        }

    }
} 