@import "../../assets/styles/mixin";


.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    gap: 100px;
    margin-top: 60px;
    border: 2px solid rgba(128,128,128, 0.1);

    @include M {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @include XS {
        padding: 20px;
    }

    .left {
        width: 50%;
        cursor: pointer;
        border: 2px solid rgba(128,128,128, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out;

        @include M {
            width: 100%;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:hover .title {
            color: #5138BC;

            &.dark {
                color: black;
            }
        }
    }

    .right {
        width: 50%;
        cursor: pointer;
        border: 2px solid rgba(128,128,128, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out;

        @include M {
            width: 100%;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:hover .title {
            color: #5138BC;

            &.dark {
                color: black;
            }
        }
    }

    .title {
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        padding: 5px 5px 0 5px;
        transition: all 250ms ease-in-out;

        @include XS {
            font-size: 16px;
        }
    }

    .subtitle {
        margin: 0;
        padding: 0 5px 5px 5px;

        @include XS {
            font-size: 14px;
        }
    }
}