
.darkMode {
    position: fixed;
    z-index: 9999999;
    bottom: 15px;
    left: 8px;
    padding: 8px;
    border-radius: 100%;
    transition: all 250ms ease-in-out;

    &:hover {
        transform: scale(1.20);
    }

    i {
        &.dark {
            color: white;
        }
    }
}