
@import "../../assets/styles/animation";

.darkMode {
    position: fixed;
    z-index: 9999999;
    bottom: 15px;
    left: 8px;
    padding: 8px;
    border-radius: 100%;
    transition: all 250ms ease-in-out;
    animation: scrolltopButtonAnimation 2s ease infinite;
    cursor: pointer;

    i {
        &.dark {
            color: white;
        }
    }
}