
@import "../../assets/styles/mixin";

.container {
    padding: 50px;
    border-bottom: 2px solid rgba(128,128,128, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 45px;

    @include S {
        padding: 20px;
    }

    .top {

        .title {
            margin: 0;
            font-size: 22px;
            text-transform: uppercase;
            color: #5138BC;
            font-weight: 700;

            @include XS  {
                font-size: 18px;
            }
        }

        .subTitle {
            margin: 0;
            font-size: 20px;
            margin-top: 2px;

            @include XS {
                font-size: 16px;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        width: 60%;

        @include S {
            width: 100%;
        }

        #html {
            color: #e34c26;
        }

        #css {
            color: #264de4;
        }

        #sass {
            color: #cc6699;
        }

        #javascript {
            color: #F0DB4F;
        }

        #react {
            color: #61dbfb;
        }

        .stack {
            margin: 0;
            margin-top: 15px;

            @include XS {
                font-size: 14px;
            }
        }
    }
}