@import "../../assets/styles/mixin";
@import "../../assets/styles/animation";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    &:hover {
        animation: WorkHoverBis 300ms ease forwards;
    }

    .imageContainer {
        box-shadow: 0px 0px 1px black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        transition: all 250ms ease-in-out;
        height: fit-content;
        width: 100%;

        &:hover {
            box-shadow: 0 0 10px #5138BC;

            &.dark {
                box-shadow: 0 0 20px white;
            }

            .image {
                transform: scale(1.05);
                filter: brightness(0.2);
            }

            .absolute {
                opacity: 1;
                transition: all 2s ease-in-out;
            }
        }

            .image {
                object-fit: cover;
                transition: all 250ms ease-in-out;
                height: 400px;
                width: 100%;

                @include XS {
                    height: 200px;
                }
        }

        .absolute {
            padding: 20px;
            position: absolute;
            z-index: 9990;
            color: white;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 2ms ease-in-out;

            .title {
                margin: 0;
                font-size: 26px;
                border: 3px solid;
                border-radius: 5px;
                padding: 10px;
                text-align: center;

                @include XS {
                    font-size: 16px;
                }
            }

            .type {
                font-size: 22px;
                padding-bottom: 5px;
                border-bottom: 2px solid;

                @include XS {
                    font-size: 16px;
                    margin: 10px 0;
                }
            }

            .imageContainer {

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                border: none;
                box-shadow: none;

                & .stackImage {
                    height: 30px;
                    width: 30px;
                    padding: 5px;
                    border: 1px solid;
                    border-radius: 5px;
                    background-color: bisque;

                    @include XS {
                        height: 15px;
                        width: 15px;
                    }
                }
            }

            .date {
                font-size: 18px;
                padding-bottom: 5px;
                border-bottom: 2px solid;

                @include XS {
                    font-size: 14px;
                    margin: 5px 0;
                }
            }
        }
    }

}