
@import "../../assets/styles/mixin";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    margin: 10px 0;

    @include S {
        padding: 25px 0 0 0;
    }

    .top {

        display: flex;
        align-items: center;
        gap: 10px;

        i {
            color: #5138BC;
            margin-top: 5px;
        }

        .topText {
            margin: 0;
            font-size: 22px;

            @include XS {
                font-size: 18px;
            }
        }
    }

    .middle {
        margin-top: 10px;
        display: flex;
        gap: 7px;

        .link:first-child {
            color: black;
        }

        .link:last-child {
            color: #0e76a8;
        }

        .link {

            transition: all 250ms ease-in-out;

            &:hover {
                transform: scale(1.15);
            }
        }
    }

    .copy {
        margin: 10px 0 5px 0;

        .copyText {
            margin: 0;
            font-size: 18px;

            @include XS {
                font-size: 14px;
            }
        }
    }
}