@import "../../assets/styles/mixin";
@import "../../assets/styles/animation";

.container {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 2px solid rgba(128,128,128, 0.1);

    @include S {
        padding-bottom: 75px;
    }

    .image {
        height: 275px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px black;
        cursor: pointer;
        animation: focusWorksImage 2s ease infinite;

        &.dark {
            box-shadow: 0 0 20px white;
        }

        @include L {
            height: 200px;
        }

        @include M {
            height: 150px;
        }

        @include XS {
            height: 125px;
        }
    }

    .containerButtons {
        position: absolute;
        transform: translateY(100%);
        top: 50%;
        width: 80%;
        display: flex;
        justify-content: space-between;

        @include L {
            width: 95%;
        }

        @include S {
            top: 65%;
        }
    
        .containerButton {
            display: flex;
            padding: 5px 15px; 
            align-items: center;
            gap: 8px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            transition: all 250ms ease-in-out;
            cursor: pointer;
            text-decoration: none;
            color: inherit;

            &:hover {
                transform: translateY(-3px);
            }

            &.dark {
                box-shadow: 0px 0px 10px white;
                border-radius: 5px;
            }
        }

        .button {
            text-decoration: none;
            color: black;
            margin: 0;

            &.dark {
                color: white;
            }

            @include XS {
                font-size: 14px;
            }
        }
    }    
}