
@import "../../assets/styles/mixin";
@import "../../assets/styles/animation";


.button {
    position: fixed;
    padding: 0 12px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    border: 2px solid rgba(128,128,128, 0.4);
    transition: all 250ms ease-in-out;
    color: black;
    animation: scrolltopButtonAnimation 2s ease infinite;
    background-color: white;

    @include XS {
        height: 30px;
        padding: 0 8px;
    }

    &:hover {
        transform: scale(1.10);
        color: #5138BC;
    }
}