.htmlClass {
    color: red;
}

.cssClass {
    color: #264de4;
}

.sassClass {
    color: #cc6699;
}

.javaScriptClass {
    color: #F0DB4F;
}

.reactClass {
    color: #61dbfb;
}

.bootstrapClass {
    color: #563d7c;
}