@import "./mixin";
@import "./colorLogo";
@import "./animation";

body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.loader {
    position: absolute;
    z-index: 99999;
    animation: LoadingPageActive 500ms ease-in-out;
    width: 100%;

    &.loaderActive {
        animation: none;
    }
}

.app {
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    min-height: 100vh;


    @include XL {
        padding: 0;
    }
}

.dark {
    background: linear-gradient(to right, black, #5138BC);
    color: white;
}

.mainContainerFocus {
    display: flex;
    width: 100%;
    
    @include M {
        flex-direction: column;
        align-items: center;
    }
}

.mainContainer {
    padding: 0 100px;

    @include XL {
        padding: 0;
    }
}


  
